
/* main layout */

.container{
    background-color: rgb(222, 234, 246);
    width: 600px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}

.main_page{
    width: 550px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.quiz_button div:nth-child(1){
    font-size: 25px;
}
