/* 두번째 페이지 */
/* 초기화 */
body, h1 {
    margin: 0;
}

/* main layout */
body {
    background-image: url(/static/img/background_2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.wrapper {
    /*background-color: #D6E6F5;*/
    background-color: #ddd;
    width: 950px;
    height: 950px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5% 95% 7% 93% / 94% 5% 95% 6%;
    border: 10px solid white;
    box-shadow: 20px 20px 20px gray;
}

.header {
    height: auto;
    text-align: left;
    padding: 40px 0;
    margin-left: 60px;
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}

.contents {
    padding: 20px;
}

.main_page {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* 문제 */
.question{
    /*margin: 50px 0px 80px 0px ;*/
    margin-bottom: 50px;
    margin-top: 30px;
}

/* 정답 버튼 툴 */
.quiz_button{
    height: 350px;
    position: absolute;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin-top: 50px;
}

/* 정답버튼 */
.q{
    background-color: rgb(248, 203, 172);
    border: 0px;
    border-radius: 8px;
    margin: 0px 0px 10px 0px;
    width:  400px;
    height: 50px;
    /*font-family: 'Jua', sans-serif;*/
}

/* 다시 시작하기 */
/*.start_button {*/
/*    float: right;*/
/*    overflow:auto;*/
/*}*/
