<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!--SweetAlert2-->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

        <title>상식 퀴즈</title>

        <link rel="short icon" href="/static/img/icon.png">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

        <script type="text/javascript">
            //// 퀴즈 다시하기 ////
            function restart() {
                $.ajax({
                    type: "get",
                    url: "/",
                    data: {},
                    success: function (response) {
                        window.location.href = '/';
                    }
                })
            }

            $().ready(quiz_start())

            var question;
            var answer1;
            var answer2;
            var answer3;
            var answer4;
            var correct_answer;

            var score = 0; // 누적점수를 담을 변수
            var i = 0;

            function quiz_start() {
                $('#question').empty()
                $('#quiz_button').empty()
                $('#question').slideUp(0, 'swing').delay(2000).slideDown(500, 'swing'); // 슬라이드업(사라짐) > 딜레이 > 슬라이드다운(보임)
                $('#quiz_button').slideUp(0, 'swing').delay(2000).slideDown(500, 'swing');
                i++;
                $.ajax({
                    type: "GET",
                    url: "/quiz",
                    data: {},
                    success: function (response) {
                        let all_quiz = response['all_quiz']
                        question = all_quiz[i]['question']
                        answer1 = all_quiz[i]['answer1']
                        answer2 = all_quiz[i]['answer2']
                        answer3 = all_quiz[i]['answer3']
                        answer4 = all_quiz[i]['answer4']
                        correct_answer = all_quiz[i]['correct']
                        console.log(correct_answer)

                        let question_title = `<div>
                                                <p>${question}</p>
                                              </div>`
                        let quiz_button = `<div>
                                               <button id="button1" onclick="quiz_start(); count(); check1();" type="button" class="q">${answer1}</button>
                                               <button id="button2" onclick="quiz_start(); count(); check2();" type="button" class="q">${answer2}</button>
                                               <button id="button3" onclick="quiz_start(); count(); check3();" type="button" class="q">${answer3}</button>
                                               <button id="button4" onclick="quiz_start(); count(); check4();" type="button" class="q">${answer4}</button>
                                           </div>`


                        $('#question').append(question_title)
                        $('#quiz_button').append(quiz_button)

                        //// 정답 무작위 배열 //// 완벽하지않음 (더 좋은 랜덤방식 구현 or 임의로 정답 배열 필요)
                        $(document).ready(function () {
                            var button_position = $(".q")
                            for (var a = 0; a < button_position.length; a++) {
                                var x = Math.floor(Math.random() * 5)
                                var y = Math.floor(Math.random() * 5)
                                button_position.eq(x).before(button_position.eq(y))
                            }
                        })
                    }
                })
            }

            //// 정오답 체크하기 ////
            // 첫번째 버튼
            function check1() {
                $.ajax({
                    type: "POST",
                    url: "/check",
                    data: {answer_click: answer1},
                    success: function (response) {
                        let text = response["msg"]
                        if (text == 1) {
                            plus_score();
                            Swal.fire({
                                icon: 'success',
                                title: "정답입니다.",
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        } else {
                            Swal.fire({
                                icon: 'warning',
                                title: "오답입니다.",
                                text: `정답은: "${correct_answer}"`,
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        }console.log(correct_answer);
                    }
                })
            }
            // 두번째 버튼
            function check2() {
                $.ajax({
                    type: "POST",
                    url: "/check",
                    data: {answer_click: answer2},
                    success: function (response) {
                        let text = response["msg"]
                        if (text == 1) {
                            plus_score();
                            Swal.fire({
                                icon: 'success',
                                title: "정답입니다",
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        } else {
                            Swal.fire({
                                icon: 'warning',
                                title: "오답입니다.",
                                text: `정답은: "${correct_answer}"`,
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        }
                    }
                })
            }
            // 세번째 버튼
            function check3() {
                $.ajax({
                    type: "POST",
                    url: "/check",
                    data: {answer_click: answer3},
                    success: function (response) {
                        let text = response["msg"]
                        if (text == 1) {
                            plus_score();
                            Swal.fire({
                                icon: 'success',
                                title: "정답입니다.",
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        } else {
                            Swal.fire({
                                icon: 'warning',
                                title: "오답입니다.",
                                text: `정답은: "${correct_answer}"`,
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        }
                    }
                })
            }
            // 네번째 버튼
            function check4() {
                $.ajax({
                    type: "POST",
                    url: "/check",
                    data: {answer_click: answer4},
                    success: function (response) {
                        let text = response["msg"]
                        if (text == 1) {
                            plus_score();
                            Swal.fire({
                                icon: 'success',
                                title: "정답입니다.",
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        } else {
                            Swal.fire({
                                icon: 'warning',
                                title: "오답입니다.",
                                text:`정답은: "${correct_answer}"`,
                                timerProgressBar: true,
                                timer: 1500,
                                showConfirmButton: false
                            });
                        }
                    }
                })
            }

            //// 문제 진행도 ////
            var a = 1;  // 퀴즈 진행도 변수 count() 실행시마다 += 1

            function count() {
                if (a < 15) {
                    a += 1;
                    setTimeout(() => document.querySelector("#result").innerText = a, 2200)
                } else {
                    setTimeout(() => result(), 1500)
                }
            }

            //// 결과 페이지 이동 ////
            function result() {
                $.ajax({
                    type: "get",
                    url: "/result",
                    data: {},
                    success: function (response) {
                        window.location.href = '/result'
                    }
                })
            }

            //// 누적점수 로컬에 저장시키기 ////
            function plus_score() {
                score += 1
                localStorage.setItem('stack_score', JSON.stringify(score))
            }
        </script>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <span class="head">Quiz</span>
                <span class="head" id="result">1</span>
                <span class="head">/</span>
                <span class="head">15</span>
                <span onclick="restart()" class="regame">⟳ <a>다시하기</a></span>
            </div>
            <div class="main_page">
                <div class="question" id="question"></div>
                <div class="quiz_button" id="quiz_button"></div>
            </div>
        </div>
    </body>
</html>