<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>퀴즈 페이지</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="../static/style.css" rel="stylesheet" type="text/css">


    <script type="text/javascript">

        $(document).ready(function () {
            questions();
        });

        function questions() {
            $.ajax({
                type: "GET",
                url: "/quiz",
                data: {},
                success: function (response) {
                    let quiz = response['all_questions']

                    console.log(quiz)
                }
            })
        }



    </script>


</head>


<body>

<!--큰 프레임-->
<div class="fullspace">

    <!--설명-->
    <div class="explan">
        <h2>문제를 보고 정답을 선택해 주세요</h2>
        <hr>
    </div>

    <!--문제 출제-->
    <div class="main_question">
        <h1 onclick="question()" class="question" id="question">
            <span>문제:</span> “To be, or not to be:that is the question(죽느냐, 사느냐. 이것이 문제로다.)” 는 어느 작가가 쓴 어느 작품의 명언인가?
        </h1>
    </div>


    <!--문제 목록-->
    <div onclick="quiz" class="answer">
        <div>
            <button class="q q1" onclick="">문제</button>
        </div>
        <div>
            <button class="q q2" onclick="">문제</button>
        </div>
        <div>
            <button class="q q3" onclick="">문제</button>
        </div>
        <div>
            <button class="q q4" onclick="">문제</button>
        </div>

    </div>


</div>

</body>
</html>