<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시작페이지</title>


    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <script type="text/javascript">

            function start(){

                $.ajax({
                    type: "get",
                    url: "/codeggumst/start",
                    data: {},
                    success: function (response) {
                        alert(response["msg"]);
                    }
                })
            }


    </script>

</head>



<body>

<button onclick="start()"> 시작하기 </button>

</body>
</html>