<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>




    <title>두번째 페이지</title>

    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script>
        function count(){
            let count=0;
            count=count+1;
            document.querySelector("#result").innerText=count;
        }
    </script>




</head>





<body>

<!--main layout-->
<div class="container">


        <!--퀴즈 헤드라인-->
        <div class="quiz_head">
           <span class="head">Quiz</span>
            <span class="head" id="result">0</span>
            <span class="head">/15</span>
        </div>

    <!--main_page-->
    <div class="main_page">

        <!--문제 출제-->
        <div class="question">
            <h2>다음 중 가장 빠른 물고기는??</h2>
        </div>

        <!--정답-->
         <div class="quiz_button">
             <div><button onclick="count()" type="button" class="q">돛새치</button></div>
             <div><button onclick="count()" type="button" class="q">개복치</button></div>
             <div><button onclick="count()" type="button" class="q">금붕어</button></div>
             <div><button onclick="count()" type="button" class="q">구피</button></div>
         </div>

    </div>



</div>

</body>
</html>